﻿@using zzzz.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}
}
@section mainbar
{
    <div class="mainbar">

        <p class="message-success">@ViewBag.StatusMessage</p>

        <p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

        @Html.Partial("_ChangePasswordPartial")
        @Html.ActionLink("Назад", "ManageAccount", "Account")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
