﻿@using Microsoft.AspNet.Identity;
@section mainbar
{
<div class="mainbar">
    <ul class ="sb_menu">
        @if (ViewBag.CustomerID == 0)
        {
            <li>@Html.ActionLink("Заполнить данные о себе", "CreateFromManage", "Customer") </li>}
        else
        {
            <li>@Html.ActionLink("Детали", "DetailsFromManage", "Customer", new { id = ViewBag.CustomerID }, new { })</li>
        }
        <li> @Html.ActionLink("Сменить пароль", "Manage", "Account")</li>
    </ul>
</div>
}