﻿@model zzzz.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

@section mainbar
{<div class="mainbar">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Форма регистрации</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Регистрация" />
        </fieldset>
    }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
