﻿@model zzzz.Models.Order
@section mainbar
{
    <div class="mainbar">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Order</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Currentammount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Currentammount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Regtime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Regtime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ScriptID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ScriptID)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
}

