﻿@model zzzz.Models.OrderForView

@section mainbar
{
    <div class="mainbar">
        <div>
            <h4>Order</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Comment)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Comment)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Currentammount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Currentammount)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Regtime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Regtime)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EventType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EventType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerID)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.customer.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.customer.Name)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.customer.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.customer.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.customer.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.customer.Email)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.ScriptID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ScriptID)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
}
