﻿@model zzzz.Models.Order

@section mainbar
{
    <div class="mainbar">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Order</h4>
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.OrderID)

                <div class="form-group">
                    @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Comment)
                        @Html.ValidationMessageFor(model => model.Comment)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cost, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cost)
                        @Html.ValidationMessageFor(model => model.Cost)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Currentammount, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Currentammount)
                        @Html.ValidationMessageFor(model => model.Currentammount)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Status)
                        @Html.ValidationMessageFor(model => model.Status)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Regtime, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Regtime)
                        @Html.ValidationMessageFor(model => model.Regtime)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EventType, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.EventType)
                        @Html.ValidationMessageFor(model => model.EventType)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CustomerID)
                        @Html.ValidationMessageFor(model => model.CustomerID)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ScriptID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ScriptID)
                        @Html.ValidationMessageFor(model => model.ScriptID)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
            }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
        </div>
}
