﻿
@section mainbar
{
    <div class="mainbar">
        <div class="article">
            <h2><span>О нас:</span></h2>
            <div class="clr"></div>
            <ul>
                <li>Создали более 350 мероприятий и не собираемся останавливаться;</li>
                <li>В команде действительно хорошие специалисты;</li>
                <li>Работаем только с проверенными сервисами и гарантируем их эффективность;</li>
                <li>Отходим от стандартов, кроме стандарта качества;</li>
                <li>Советуем только то, что проверили лично;</li>
                <li>Уверены в собственных силах, готовы предлагать индивидуальные решения;</li>
                <li>Адекватны в формировании цены;</li>
                <li>Радуем заказчиков;</li>
            </ul>
            <hr />
        </div>
        <div class="article">
            <h2><span>Что даем клиенту помимо мероприятий:</span></h2>
            <div class="clr"></div>
            <ul>
                <li>Консультируем;</li>
                <li>Отслеживаем новые тенденции;</li>
                <li>Помогаем грамотно вкладывать бюджеты в события;</li>
                <li>Внедряем фишки и тренды;</li>
                <li>Окружаем комфортом;</li>
                <li>Рекомендуем стратегию развития с помощью организации мероприятий;</li>
            </ul>
        </div>
    </div>
}
