﻿@section mainbar
{
    <div class="mainbar">
        <div class="article">
            <h2><span>Что делает нас</span> Особенными?</h2>
            <img src="Content/images/img1.jpg" width="201" height="146" alt="" class="fl" />
            <p>Ивент агентство Whatwilldo было созданого для того, чтобы Ваши ожидания превратились в реальность. Наша компания предлагает полный комплекс услуг в сфере организации праздников и мероприятий. Мы можем, умеем и должны удивлять!</p>
            <p>Организация и подготовка торжественного события – это ответственная задача, успешное решение которой зависит от опыта и профессионализма организатора, индивидуального подхода к каждому Клиенту, внимания ко всем деталям. Наши клиенты — это, в первую очередь, люди, которые ценят высокое качество выполненной работы. Мы работаем для Вашего отличного настроения и приложим все усилия для того, чтобы Вы остались довольны результатом сотрудничества с нами.</p>
            <p class="spec">@Html.ActionLink("Больше о нас.", "AboutUs", "AboutUs")</p>
        </div>
        <div class="article">
            <h2><span>Еще немного</span> информации</h2>
            <img src="Content/images/img2.jpg" width="201" height="146" alt="" class="fl" />
            <p>Whatwilldo – агентство, успешно стартовало в 2009 году, как независимое объединение. Спустя несколько лет непрерывного самосовершенствования мы реализовываем на достойном уровне масштабные и не масштабные проекты, в том числе, за пределами Украины.Внимание к деталям и мелочам, индивидуальный подход к каждому Клиенту, опыт управления в сфере предоставления ивент услуг и желание творить благие дела в комплексе придают нашим праздникам и мероприятиям особый почерк: реалистичный, качественный и неповторимый.</p>
            <p>Мы прошли долгий путь эволюции от аматоров до профессионалов. Сегодня цель – стремится не к количеству мероприятий, а повышению их качества. Наша задача сегодня – создавать мероприятия с ярко выраженной индивидуальностью, которые при этом будут решать задачи Клиента. На детально спланированных мероприятиях Вы увидите то, что будет актуально и завтра.</p>
        </div>
    </div>
}
