﻿

<!DOCTYPE html>
@section mainbar
{
    <div class="mainbar">
        @using (Html.BeginForm("Create", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" id="file" />
            <input type="submit" value="Create" class="btn btn-default" />
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
 }
