﻿@model zzzz.Models.Image

@section mainbar
{<div class="mainbar">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Image</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ID)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
}
