﻿@model IEnumerable<zzzz.Models.Image>

<!DOCTYPE html>

@section mainbar
{<div class="mainbar">
        <p>
            @Html.ActionLink("Create New", "Create", "Image")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.path)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        <img width="100" height="100" src="@Url.Content(item.path)" />
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
    </div>
}
