﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>WhatWillDo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.3.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cufon-yui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/arial.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cuf_run.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/radius.js")" type="text/javascript"></script>
</head>
<body>
    <div class="main">
        <div class="header">
            <div class="header_resize">
                <div class="menu_nav">
                    <ul>
                        <li class="active">@Html.ActionLink("Домашняя", "Index", "Home")</li>
                        <li>@Html.ActionLink("Посмотреть мероприятия", "ViewEvents", "Home")</li>
                        <li>@Html.ActionLink("Заказать мероприятие", "Create", "Order")</li>
                        <li>@Html.ActionLink("O нас", "AboutUs", "Home")</li>
                        @if(User.Identity.IsAuthenticated && User.Identity.Name!="admin")
                        {
                            <li>@Html.ActionLink("Кабинет", "ManageAccount", "Account")</li>
                        }
                        @if (User.Identity.Name == "admin")
                        {
                            <li>@Html.ActionLink("Для Админа", "Admin", "Admin")</li>
                        }
                    </ul>
                </div>
                <div class="clr"></div>
                <div class="logo">
                    <h1>what<span>willDo</span><small>планирование мероприятий</small></h1>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="content">
            <div class="content_resize">
                @RenderSection("mainbar")
                @if (IsSectionDefined("sb"))
                {
                    @RenderSection("sb");
                }

                <div class="sidebar">
                    <div class="gadget">
                        <h3 class="star"><span>Пользователь:</span></h3>
                        <section id="login">
                            @Html.Partial("_LoginPartial")
                        </section>
                        <h3 class="star"><span>Дополнительная</span> навигация</h3>
                        <div class="clr"></div>
                        @if (IsSectionDefined("sb_menu"))
                        {
                            @RenderSection("sb_menu");
                        }
                        else
                        {
                            <ul class="sb_menu">
                                <li>@Html.ActionLink("Домашняя", "Index", "Home")</li>
                                <li>@Html.ActionLink("Посмотреть мероприятия", "ViewEvents", "Home")</li>
                                <li>@Html.ActionLink("Заказать мероприятие", "Create", "Order")</li>
                                <li>@Html.ActionLink("O нас", "AboutUs", "Home")</li>
                                @if (User.Identity.IsAuthenticated && User.Identity.Name != "admin")
                                {
                                    <li>@Html.ActionLink("Кабинет", "ManageAccount", "Account")</li>
                                }
                                @if(User.Identity.Name == "admin")
                                {
                                    <li>@Html.ActionLink("Для Админа", "Admin", "Admin")</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="fbg">
            <div class="fbg_resize">
                <div class="col c1">
                    <h2><span>  Istagram: Последнее</span></h2>
                    <a href="#"><img src="Content/images/pix1.jpg" width="240" height="240" alt="" /></a>
                </div>
                <div class="col c2">
                    <h2><span>Последний отзыв:</span></h2>
                    <p>
                        10/10<br />
                        <span>Стильно, модно, быстро!</span>
                    </p>
                </div>
                <div class="col c3">
                    <h2><span>Контакты</span></h2>
                    <p>Ниже предоставлена некоторая контактная информация</p>
                    <p>@Html.ActionLink("support@whatwilldo.com", "OrderEvent", "OrderEvent")</p>
                    <p>
                        +1 (123) 444-5677<br />
                        +1 (123) 444-5678
                    </p>
                    <p>Адрес: Харьков ул. Пушкина д. Колотушкина    </p>
                </div>
                <div class="clr"></div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_resize">
                <p class="lf">Copyright &copy; <a href="#">Domain Name</a>. All Rights Reserved</p>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
