﻿@section sb_menu
{
<ul class="sb_menu">
    @*@Html.ActionLink("Домашняя", "Index", "Home")*@
    <li>@Html.ActionLink("Scripts", "Index","Script")</li>
    <li>@Html.ActionLink("Images", "Index", "Image")</li>
    <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
    <li>@Html.ActionLink("Orders", "Index", "Order")</li>
</ul>
}

@section mainbar
{

}
