﻿@model zzzz.Models.Script


<!DOCTYPE html>

@section mainbar
{
<div class="mainbar">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Script</h4>
            <hr />
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.scriptname, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.scriptname)
                    @Html.ValidationMessageFor(model => model.scriptname)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.eventType, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.eventType)
                    @Html.ValidationMessageFor(model => model.eventType)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.scriptBody, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.scriptBody)
                    @Html.ValidationMessageFor(model => model.scriptBody)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.scriptDur, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.scriptDur)
                    @Html.ValidationMessageFor(model => model.scriptDur)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
    </div>
}>
