﻿@model zzzz.Models.Script


<!DOCTYPE html>

@section mainbar
{<div class="mainbar">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Script</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.scriptname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.scriptname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.eventType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.eventType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.scriptBody)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.scriptBody)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.scriptDur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.scriptDur)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
    </div>
}
