﻿@model zzzz.Models.Script


<!DOCTYPE html>

@section mainbar
{<div class="mainbar">
    <div>
        <h4>Script</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.scriptname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.scriptname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.eventType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.eventType)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.scriptBody)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.scriptBody)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.scriptDur)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.scriptDur)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
}
