﻿@model IEnumerable<zzzz.Models.Script>


<!DOCTYPE html>

@section mainbar
{<div class="mainbar">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scriptname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eventType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scriptBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.scriptDur)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scriptname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scriptBody)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.scriptDur)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
    </div>
}

